name: Release

on:
  pull_request:
    branches: [main]
    types: [labeled,closed]

jobs:
  build-artifacts:
    if: github.event.pull_request.merged == true && contains(github.event.pull_request.labels.*.name, 'release')

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
          - target: aarch64-pc-windows-msvc
            os: windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain for target
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --verbose

      - name: Upload Release Asset
        uses: svenstaro/upload-release-action@v2
        with:
          file: target/release/*
          asset_name: rheo-${{ matrix.os }}
          tag: ${{ github.ref }}
          overwrite: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
